<div class="todos">
	<form (submit)="addTodo()">
		<input 
			type="text"
			name="inputTodo"
			placeholder="Enter the day activities is needs to be done..."
			class="todo-input"
			[(ngModel)]="inputTodo"/>
		<input type="submit" value="Add Todo" class="todo-submit" />
	</form>
	<div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
		<div class="id">{{i+1}}</div>
		<div class="content" >{{ todo.content }}</div>
		<button class="toggle" (click)="toggleDone(i)">Done</button>
		<button class="edit" (click)="editTodo(i)">Edit</button>
		<button class="delete" (click)="deleteTodo(i)">Remove</button>
	</div>
	<div class="footer">done by rakesh</div>
</div>

